.profile__name {
  grid-row: 1;
  grid-column: 1;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #FFFFFF;
  margin: 0;
  max-width: 510px;
  min-width: 220px;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden; 
}


@media screen and (max-width: 650px) { 
  .profile__name {
      max-width: calc(100vw - 120px);
  }
}

@media screen and (max-width: 425px) { 
    .profile__name {
        font-size: 27px;
        line-height: 1.22;
        text-align: center;       
    }
}