.profile__profession {
    grid-row: 2;
    grid-column: 1;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;    
    color: #FFFFFF;
    margin: 0;
    max-width: 510px;
    min-width: 220px;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

@media screen and (max-width: 600px) { 
    .profile__profession {
        max-width: calc(100vw - 100px);
    }
  }
  
@media screen and (max-width: 425px) { 
    .profile__profession {
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        margin: 4px 0 0;
    }
}