.header {
    max-width: 880px;
    width: 100%;
    border-bottom: 1px solid #545454 ;
    line-height: 0;

}

@media screen and (max-width: 880px) { 
    .logo {
        padding-left: 27px;
    }
}