.header {
    max-width: 880px;
    width: 100%;
    border-bottom: 1px solid #545454 ;
    line-height: 0;
    max-height: 74px;
    min-height: 56px;
    height: calc(56px + (16000vw - 51200px) / 3);
    display: flex;
}

