.form__submit {
    background-color: black;
    color: white;
    width:  358px;
    height: 50px;
    font-size: 18px;
    line-height: 1.22;
    margin: 22px 0 0 ;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    text-align: center;
    border: 0;
}


@media screen and (max-width: 510px) { 
    .form__submit {
        margin-top: 17px; 
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 1.2;
    }
}

.form__submit:hover {
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}